html,body {
    scroll-behavior: smooth;
    max-width: 100%;
    overflow-x: hidden;
    width: 100%;
}
img, iframe {
    max-width: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hero-image { 
    height: auto; 
    width: 100%;
    display: block;
}


body {
    font-family: 'Montserrat', sans-serif;
    background-color: #F6F4EE;
    color: #2C2A28;
}

h1, h2, h3 {
    font-family: 'Playfair Display', serif;
}


.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 6%;
    background-color: #F6F4EE;
    position: relative; 
    z-index: 100;   
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo-image-icon {
    width: 80px;
    height: 85px;
    border-radius: 35px;
}

.logo-text h2 {
    font-size: 3rem;
    color: #1A1A1A;
    
}

.logo-text span {
    display: block;
    font-size: 1rem;
    color: #51827E;
    margin-top: 6px;
}


.nav-menu ul {
    display: flex;
    list-style: none;
    gap: 2.5rem;
}

.nav-menu a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 0.85rem;
}

.nav-menu a:hover {
    color: #51827E;
}


.hamburger-menu {
    display: none;
    cursor: pointer;
    flex-direction: column;
    gap: 5px;
}

.hamburger-menu .bar {
    width: 25px;
    height: 3px;
    background-color: #2C2A28;
}


.hero-section {
 width: 100%;
    aspect-ratio: 16 / 9;   
    object-fit: cover;     
    object-position: center;
}


.opening-section {
    padding: 6rem 2rem;
    text-align: center;
    background-color: #FAF8F5;
}

.opening-content {
    max-width: 800px;
    margin: 0 auto;
}

.subtitle {
    font-family: 'Playfair Display', serif;
    font-size: 1.5rem;
    font-style: italic;
    color: #7A746B;
    margin-bottom: 1rem;
}

.grand-opening-title {
    font-size: 4rem;
    color: #2C2A28;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.date {
    font-size: 3rem;
    color: #51827E;
    margin-bottom: 2rem;
}

.description {
    font-size: 1.1rem;
    color: #555;
    margin-bottom: 3rem;
}

.reserve-button {
    display: inline-block;
    padding: 1rem 3rem;
    background-color: #51827E;
    color: #FFF;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 500;
    border-radius: 3px;
}

.reserve-button:hover {
    background-color: #3E6663;
}


.about-section {
    text-align: center;
    padding: 5rem 2rem;
    background-color: #F6F4EE;
}

.about-content {
    max-width: 750px;
    margin: 0 auto;
}

.about-content h2 {
    font-size: 2.2rem;
    color: #2C2A28;
    margin-bottom: 1.2rem;
}

.about-content p {
    font-size: 1.05rem;
    color: #555;
}


.rules-section {
    padding: 6rem 6%;
    background-color: #FAF8F5; 
}

.rules-container {
    display: flex;
    justify-content: center;
    gap: 3rem;
    max-width: 1100px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.rules-card {
    background: #FFF;
    padding: 3rem;
    border-radius: 12px;
    flex: 1;
    min-width: 320px;
    border: 1px solid #E0DCD5; 
}

.rules-card h3 {
    font-size: 1.8rem;
    color: #2C2A28;
    margin-bottom: 2rem;
    padding-bottom: 0.5rem;
  
}


.pricing-list {
    list-style: none;
}

.pricing-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
    font-size: 1rem;
    color: #4A4A4A;
}

.price-value {
    font-weight: 600;
    color: #2C2A28;
}

.price-value.free {
    color: #51827E;
    font-style: italic;
}

.include-info {
    margin-top: 2rem;
    font-size: 0.88rem;
    color: #c4561b;
    font-style: italic;
    background-color: #F6F4EE;
    padding: 10px 15px;
    border-radius: 6px;
}


.info-group {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.info-row strong {
    display: block;
    font-size: 0.95rem;
    color: #2C2A28;
    margin-bottom: 4px;
  
}

.info-row p {
    font-size: 0.98rem;
    color: #666;
}

.restrict-row strong {
    color: #A86B62; 
}

.restrict-row p {
    color: #8A544C;
    font-weight: 500;
}


.bar-section {
    padding: 5rem 6%;
}

.section-title {
    text-align: center;
    margin-bottom: 4rem;
}

.section-title h2 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

.section-title p {
    font-style: italic;
    color: #7A746B;
}

.cocktail-container {
    display: grid;
    gap: 2.5rem;
}

.cocktail-card {
    background: #FFF;
    padding: 1.5rem;
    border-radius: 8px;
    text-align: center;
    border: 1px solid #E0DCD5;
}

.cocktail-card img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 1.5rem;
}

.cocktail-card h3 {
    font-size: 1.3rem;
    color: #2C2A28;
    margin-bottom: 0.5rem;
}


.pool-gallery-section {
    padding: 5rem 6%;
    background-color: #F6F4EE; 
}

.pool-grid {
    display: grid;
    gap: 2.5rem;
    max-width: 1200px;
    margin: 0 auto;
}

.pool-card {
    background-color: #FFF;
    border-radius: 8px;
    border: 1px solid #E0DCD5;
    overflow: hidden;
    padding: 0;
}

.pool-card img {
    width: 92%;
    height: 95%; 
    padding-top: 7%;
    object-fit: fill;
}

.guests-section {
    padding: 5rem 6%;
    background-color: #FAF8F5; 
}

.guests-container {
    display: grid;
    gap: 2.5rem;
    max-width: 1200px;
    margin: 0 auto;
}

.guest-card {
    border-radius: 8px;
    background-color: #FFF;
    padding: 1rem;
    border: 1px solid #E0DCD5;
}

.guest-card img {
    width: 100%;
}

.site-footer {
    background-color: #2C2A28;
    color: #FFF;
    padding: 5rem 6% 2rem;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 2rem;
    text-align: left;
}

.footer-column {
    flex: 1;
    min-width: 250px;
}

.footer-column h3 {
    margin-bottom: 1rem;
    color: #FFF;
    font-size: 1.4rem;
}

.footer-column p {
    color: #CCC;
    margin-bottom: 0.5rem;
    font-size: 0.95rem;
}

.map-wrapper {
    margin-top: 10px;
    border: 3px solid #444;
    display: inline-block;
}

.map-wrapper iframe {
    width: 250px !important; 
    height: 150px !important;
    display: block;
}

.social-links {
    margin-top: 1rem;
}

.social-links a {
    color: #51827E;
    text-decoration: none;
    font-weight: 600;
}

.social-links a:hover {
    color: #FFF;
}

.footer-links {
    list-style: none;
}

.footer-links li a {
    color: #CCC;
    text-decoration: none;
    display: block;
    margin-bottom: 8px;
    font-size: 0.95rem;
}

.footer-links li a:hover {
    color: #FFF;
}

.footer-bottom {
    text-align: center;
    border-top: 1px solid #444;
    padding-top: 2rem;
    margin-top: 1rem;
}

.footer-bottom p {
    font-size: 0.85rem;
}



@media screen and (max-width: 600px) {
    .hamburger-menu {
        display: flex;
    }
    .nav-menu {
        display: none; 
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #F6F4EE;
    z-index: 99;  }    
    
    .nav-menu.active {
        display: block; 
    }
    .nav-menu ul {
        flex-direction: column;
        text-align: center;
        padding: 1.5rem 0;
        gap: 1.5rem;
    }
    .grand-opening-title {
        font-size: 2.5rem;
    }
    .date {
        font-size: 2rem;
    }
    .rules-card {
        padding: 2rem; 
    }
    .cocktail-container,
    .pool-grid,
    .guests-container {
        grid-template-columns: 1fr; 
    }
    .footer-container {
        flex-direction: column;
        text-align: center;
    }
}


@media screen and (max-width: 600px) {
    .site-header {
        padding: 1rem 4%;
    }

    .logo-text h2 {
        font-size: 1.8rem;
    }
    .logo-text span {
        font-size: 0.75rem;
    }
    .logo-image-icon {
        width: 50px;
        height: 53px;
    }

    .hamburger-menu {
        display: flex;
    }

    .nav-menu {
        display: none; 
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #F6F4EE;
   
    }

    .nav-menu.active {
        display: block; 
    }

    .nav-menu ul {
        flex-direction: column;
        text-align: center;
        padding: 1.5rem 0;
        gap: 1.5rem;
    }

    .grand-opening-title {
        font-size: 2.3rem;
    }
    .date {
        font-size: 1.8rem;
    }
    .section-title h2 {
        font-size: 1.8rem;
    }

   
    .rules-container {
        gap: 1.5rem;
    }
    .rules-card {
        padding: 1.5rem; 
        min-width: 100%; 
    }

   
    .reservation-form-container {
        padding: 1.5rem;
        margin: 0 10px;
    }

    .cocktail-container,
    .pool-grid,
    .guests-container {
        grid-template-columns: 1fr !important; 
        gap: 1.5rem;
    }

    .footer-container {
        flex-direction: column;
        text-align: center;
        gap: 2rem;
    }
    .map-wrapper, .map-wrapper iframe {
        width: 100% !important; /*one of new css code-!important */
    }
}

@media screen and (max-width: 991px) {
    .site-header {
        padding: 1rem 5%;
        position: relative;
        z-index: 100;
    }


    .logo-text h2 {
        font-size: 1.6rem;
    }
    .logo-text span {
        font-size: 0.75rem;
        margin-top: 2px;
    }
    .logo-image-icon {
        width: 55px;
        height: 58px;
        border-radius: 20px;
    }

    
    .hamburger-menu {
        display: flex;
    }

    .nav-menu {
        display: none; 
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #F6F4EE;
        box-shadow: 0 8px 20px rgba(0,0,0,0.08);
        z-index: 999;
    }

    .nav-menu.active {
        display: block; 
    }

    .nav-menu ul {
        flex-direction: column;
        text-align: center;
        padding: 2rem 0;
        gap: 1.8rem;
    }

    .nav-menu a {
        font-size: 1rem;
        display: block;
        padding: 5px 0;
    }

   
    .grand-opening-title {
        font-size: 2.5rem;
    }
    .date {
        font-size: 2rem;
    }
    .section-title h2 {
        font-size: 2rem;
    }

   
    .rules-card {
        padding: 2rem; 
        min-width: 100%;
    }

    .reservation-form-container {
        padding: 2rem 1.5rem;
        margin: 0;
    }

    
    .cocktail-container,
    .pool-grid,
    .guests-container {
        grid-template-columns: 1fr !important; 
        gap: 2rem;
    }

    .footer-container {
        flex-direction: column;
        text-align: center;
        gap: 2.5rem;
    }
    
    .map-wrapper, .map-wrapper iframe {
        width: 100% !important;
    }
}


@media screen and (min-width: 992px) {
    .cocktail-container,
    .pool-grid {
        grid-template-columns: repeat(3, 1fr) !important; 
    }
    .guests-container {
        grid-template-columns: repeat(4, 1fr) !important;
    }
}

@media screen and (min-width: 1200px) {
    .logo-text h2 {
    font-size: 2.4rem; 
    transition: font-size 0.3s ease;
}

.nav-menu ul {
    gap: 1.5rem; 
}
}

@media screen and (min-width: 992px) and (max-width: 1440px) {
    .cocktail-container { grid-template-columns: 1fr 1fr 1fr; }
    .pool-grid { grid-template-columns: 1fr 1fr 1fr; }
    .guests-container { grid-template-columns: 1fr 1fr 1fr 1fr; }
}

@media screen and (min-width: 1441px) {
    .cocktail-container { grid-template-columns: 1fr 1fr 1fr 1fr; }
    .pool-grid { grid-template-columns: 1fr 1fr 1fr; }
    .guests-container { grid-template-columns: 1fr 1fr 1fr 1fr; }
}




.search-container {
    text-align: center;
    margin-bottom: 2.5rem;
}

#searchInput {
    width: 100%;
    max-width: 400px;
    padding: 14px 20px;
    border: 1px solid #E0DCD5;
    border-radius: 30px; 
    outline: none;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    background-color: #FFF;
    color: #2C2A28;
   
}

#searchInput:focus {
    border-color: #51827E;
  
}


.reservation-section {
    padding: 5rem 6%;
    background-color: #F6F4EE; 
}

.reservation-form-container {
    max-width: 500px;
    margin: 0 auto;
    background: #FFF;
    padding: 2.5rem;
    border-radius: 12px;
    border: 1px solid #E0DCD5;
    text-align: center;
}

#reservationForm {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#reservationForm input {
    padding: 14px 15px;
    border: 1px solid #E0DCD5;
    border-radius: 6px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s;
}

#reservationForm input:focus {
    border-color: #51827E;
}

.submit-btn {
    padding: 15px;
    background-color: #51827E;
    color: #FFF;
    border: none;
    border-radius: 6px;
    font-size: 1.05rem;
    font-weight: 600;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    transition: background-color 0.3s;
}

.submit-btn:hover {
    background-color: #3E6663;
}

.hidden-message {
    display: none;
    margin-top: 1rem;
    color: #51827E;
    font-weight: 600;
    line-height: 1.5;
}

.hidden-message.show {
    display: block;
}